<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Bentonow_Bento::bento" title="Bento" module="Bentonow_Bento" sortOrder="100" resource="Bentonow_Bento::bento"/>
        <add id="Bentonow_Bento::job" title="Bento Jobs" module="Bentonow_Bento" sortOrder="10" action="bentonow_bento/job" resource="Bentonow_Bento::job" parent="Bentonow_Bento::bento"/>
    </menu>
</config>