<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="bentonow" translate="label" sortOrder="10">
            <label>Bento</label>
        </tab>
        <section id="bentonow_bento" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Bento Configuration</label>
            <tab>bentonow</tab>
            <resource>Bentonow_Bento::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="username" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>BENTO_PUBLISHABLE_KEY</label>
                    <config_path>bentonow_bento/general/username</config_path>
                </field>
                <field id="password" translate="label" type="obscure" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>BENTO_SECRET_KEY</label>
                    <config_path>bentonow_bento/general/password</config_path>
                </field>
                <field id="site_uuid" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Site BENTO_SITE_UUID</label>
                    <config_path>bentonow_bento/general/site_uuid</config_path>
                </field>
                <field id="enable_customer_register" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Subscriber Sync</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>bentonow_bento/general/enable_customer_register</config_path>
                </field>
                <field id="customer_tags" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Subscriber Registration Tags</label>
                    <comment>Comma-separated list of tags (e.g., lead,mql)</comment>
                    <config_path>bentonow_bento/general/customer_tags</config_path>
                </field>
            </group>
        </section>
    </system>
</config>